body{
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-style:normal;
    
    background-color: lightgreen;
    /* background-image: ; */
  
}

h1{
    text-align: center;
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

button{
    text-align: center;
    border: none;
    color: green;
    cursor :pointer;
    
    
}

button:hover{
    background-color: lightcoral;

}
