body { 

    background-image: url("pic.jpg");
    font-family: Arial, sans-serif;
    font-weight:bold;
    margin: 0; 
    padding: 0; 
    background-size: cover;
} 

.container { 
    width: 80%; 
    margin: 50px auto; 
    
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} 

h1 { 
    text-align: center; 
    color: darkred; 
    margin-bottom: 20px; 
} 

p { 
    text-align: center; 
    color: #af76fae5; 
    margin-bottom: 20px; 
} 

form { 
    text-align: center;
    margin-bottom: 20px; 
} 

label { 
    display: inline-block; 
    margin-bottom: 5px; 
    color: #000000; 
} 

input[type="text"] {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 3px; margin-bottom: 10px; 
    box-sizing:border-box;
} 

button { 
    padding: 8px 20px; 
    background-color: #463f02; 
    color: #ffffff; border: none; 
    border-radius: 3px; 
    cursor: pointer; 
} 

button:hover { 
    background-color: #177e03; 
} 

h2 { 
    margin-top: 20px; 
    color:darkred; 
    text-align: center; 
}